body{
    font-family: 'Poppins', sans-serif;
    margin: 0;   
}

section{
    display: flex;
    margin-bottom: 80px;}

        .half-width{
            width: 50%;
            padding-left: 5px;}

        .half-widgh img{ 
            width: 80%;}
        .tomato-color{
            color: orange;
            font-weight: 700;
        }
        .link-button{
            text-decoration: none;
            background-image: linear-gradient( red, orange);
            padding: 10px 40px;
            border-radius: 5px;
            color: white;
            font-weight: 700;
        }
        

    
       .banner{
            background-image: url(C:\Users\ad1\Desktop\Project\first-deplopment\imags\top-banner.png);
        }
        .dream-big{
        background-image: url(C:\Users\ad1\Desktop\Project\first-deplopment\image\jhankar2.png);
        }